.error {
    width: 100%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.column-wrapper {
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.column {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}